<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="proyectoENE.Properties.Settings.PRUEBAENEConnectionString"
            connectionString="Data Source=DESKTOP-M51EKPM\SQLEXPRESS;Initial Catalog=PRUEBAENE;Persist Security Info=True;User ID=sa;Password=h4ckth1s"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>